        body {
            background: linear-gradient(to right, white, rgb(120, 105, 107));
        }
        
        #conteneur {
            display: flex;
            /* text-align: center; */
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* width: 50v; */
            /* margin: auto; */
            height: 77vh;
        }
        
        #form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: auto;
            width: 70vh;
            height: 40vh;
            background-color: #cdd3dad8;
            border-radius: 20px;
        }
        
        input {
            padding: auto;
            /* margin-top: 35px; */
            height: 60px;
            width: 60%;
            border-radius: 15px;
            background-color: #eeeff2;
            color: #797f86d8;
            font-size: large;
            font-weight: bold;
            border: white;
            cursor: pointer;
            position: relative;
            /* top: 5px; */
            margin: 10px;
        }
        
        button {
            background: rgb(120, 105, 107);
            color: white;
            border-radius: 40px;
            margin: 35px 0;
            height: 50px;
            width: 60%;
            cursor: pointer;
        }
        
        .edit_register {
            background: linear-gradient(to right, white, rgb(4, 245, 44));
        }
        
        h1 {
            color: rgb(120, 105, 107);
        }